$gradient: linear-gradient(236.56deg, #2c2d65 0.35%, #201f22 100%);
$gradient2: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
$gradient3: linear-gradient(to top right, rgba(44,45,101,0), rgba(32,31,34,1));
$mainRed: #e6606c;
$mainFont: "Barlow", sans-serif;
$secFont: "Barlow Condensed", sans-serif;


@mixin main300 {
  font-weight: 300;
  letter-spacing: 0.045em;
  line-height: 2rem;
  font-size: 1rem;
}

@mixin main400 {
  font-weight: 400;
  letter-spacing: 0.045em;
  line-height: 2rem;
  font-size: 1rem;
}

@mixin main500 {
  font-weight: 500;
  letter-spacing: 0.045em;
  line-height: 2rem;
  font-size: 1rem;
}
